
body{
    overflow-x: hidden;
}
.login {
    scroll-behavior: unset;
    height: 80vh;
    width: 401px;
    background-color: #9da6eb;
    position: relative;
   
    top: 70px;
    border-top-left-radius: 13px;
    border-bottom-left-radius:13px ;
    display: flex;
    flex-direction: column;
    gap: 45px;
    font-family:'Poppins';
    position: relative;
}
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

.login-option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 12px;
}

button {
    background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
    color: white;
    border-radius: 23px;
    width: 103px;

}

.imgphone {
    border-radius: 34px;
    width: 34px;
}
.getinput{
    width: 340px;
    height: 35px;
    border-radius: 32px;
    margin: 10px;
}
.googlesection{
    display: flex;
    gap: 7px;

}
span{
    position: relative;
    top: 23px;
    left: 12px;
    font-weight: 500;
    font-size: 23px;
}
input[type="text"]::placeholder {
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.userinputsubmit{
    height: 36px;
    border-radius: 9px;
    width: 104px;
    position: relative;
    left: 135px;
    top: 20px;
}
.phoneloginoption{
    display: flex;
}
.usernamelogin{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.logintext{
    position: relative;
    left: 125px;
}

.lastsectiion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginsideimage{
    height: 80vh;
    width: 401px;
    position: relative;
    top: 70px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}
body{
    display: flex;
    position: relative;
    left: 24vw;
}
@media screen and (max-width:500px) {
    #body{
        display: flex;
        flex-direction: column;
    }
}
     